{:deps
 {cheshire                  {:mvn/version "5.8.1"}}

 :paths
 ["src"]

 :aliases
 {:cljstest
  {:extra-paths ["test"]
   :extra-deps  {olical/cljs-test-runner {:mvn/version "3.1.0"}}
   :main-opts   ["-m" "cljs-test-runner.main"]}

  :cljtest
  {:extra-paths ["test"]
   :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                            :sha     "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
   :main-opts   ["-m" "cognitect.test-runner"]}}}
